body {
  overflow-x: hidden;
}
.App {

  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0,0,0,0);
  color: white;
  overflow: hidden;
}
.app2 {
  width: 70%;
  overflow: hidden;
}
h1 {
  font-size: 45px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button, .name{
  display: block;
  margin: 10px auto;
  color: #2f192e;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  max-width: 350px;
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #61dafb;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.blue {
  background-color: #fff;
  background-color:rgb(106, 235, 112);
  color: #fff;
}
.blue:focus, .name:focus{
  background-color: rgb(106, 235, 112);
  color: #fff;
  border-bottom: 3px solid rgb(106, 235, 112);
}
.name:focus {
  color:rgb(106, 235, 112);
}
.blue:hover, .name:hover {
  background-color: rgb(106, 235, 112);
  color: #fff;
  border-radius: 0px 16px 0px 16px;
  border-bottom: 3px solid rgb(4, 0, 253);
}
p {
  font-size: 30px;
}


button:hover {
  color: #2f192e;
  border-radius: 0px 16px 0px 16px;
  border-bottom: 3px solid rgb(4, 0, 253);
}
.danger:hover {
  color: #2f192e;
  border-radius: 0px 16px 0px 16px;
  border-bottom: 3px solid rgb(253, 0, 0);
}
button:focus{
  background-color: #fff;
  color: #2f192e;
  border-radius: 0px 16px 0px 16px;
  border-bottom: 3px solid rgb(106, 235, 112);
}


input:focus {
  background-color: #fff;
  color:rgb(106, 235, 112);
}
::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}


.App {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}